.wpnc__status-bar {
	position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
	top: $title-bar-height;
	width: 100%;
	z-index: 101;
	background-color: $alert-red;
	color: $white;

    @media only screen and (min-width: 800px) {
		width: 400px;
	}

	a,
	a:visited {
		color: $white;
		font-weight: 600;
		text-decoration: underline;
	}

	a:hover,
	a:focus,
	a:active {
		color: $white;
	}

	.wpnc__noticon {
		@extend %wpnc__noticon;
	}

    span {
        margin: 15px 5px 15px 5px;
    }

    .wpnc__status-bar__wpnc__close-link {
        font-size: 22px;
    }
}

.wpnc__status-bar.success {
	background-color: $alert-green;
}
